{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Kea Sports{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>

  <body class="bg-gray-50 min-h-screen flex flex-col">
    <!-- HEADER -->
    <header
      class="h-16 bg-[#E30000] text-white flex items-center justify-between px-4 border-b fixed top-0 left-0 right-0 z-50"
    >
      <span class="font-semibold">Kea Sports</span>

      <nav class="hidden lg:flex gap-4">
        <a class="hover:text-amber-400" href="{% url 'index' %}">Início</a>
        <a class="hover:text-amber-400" href="{% url 'listar_corridas' %}"
          >Corridas</a
        >
        <a class="hover:text-amber-400" href="{% url 'arquivo_list' %}"
          >Resultados</a
        >
        <a class="hover:text-amber-400" href="{% url 'register' %}"
          >Cadastrar-se</a
        >
        <a class="hover:text-amber-400" href="{% url 'cadastro' %}">Entrar</a>
        <a class="hover:text-amber-400" href="{% url 'logout_confirm' %}"
          >Sair</a
        >
      </nav>

      <!-- BOTÃO MOBILE -->
      <button
        class="lg:hidden text-2xl"
        onclick="
          document.getElementById('mobileMenu').classList.toggle('hidden')
        "
      >
        ☰
      </button>
    </header>

    <!-- MENU MOBILE -->
    <div
      id="mobileMenu"
      class="hidden fixed inset-0 bg-black/40 z-50 lg:hidden"
      onclick="this.classList.add('hidden')"
    >
      <div
        class="absolute top-0 right-0 w-64 h-full bg-white p-6"
        onclick="event.stopPropagation()"
      >
        <nav class="flex flex-col gap-4">
          <a href="{% url 'index' %}">Início</a>
          <a href="{% url 'listar_corridas' %}">Corridas</a>
          <a href="{% url 'arquivo_list' %}">Resultados</a>
          <a href="{% url 'register' %}">Cadastrar-se</a>
          <a href="{% url 'cadastro' %}">Entrar</a>
          <a href="{% url 'logout_confirm' %}">Sair</a>
        </nav>
      </div>
    </div> 

    <!-- conteúdo do site -->
     <!-- p = espaço entre as laterais - pt espaço do topo -->
    <main class="flex-1 p-6 pt-20">{% block content %}{% endblock content %}</main>

    <footer class="bg-gray-900 text-white text-center p-4">
      2026 Kea Sports
    </footer>
  </body>
</html>
